.resource-template {

    .prism-page {
        padding-top: 2em;

        @media only screen and (max-width: 1000px) {
            padding-top: 0;
        }

        
        .black {
            background-color: $rich-black;
        }

        .beige {
            background-color: $beige-light;

            h2, p, .sidebar ul li a {
                color: $rich-black;
            }

            .sidebar ul li:hover {
                background-color: $white;
            }

        }

        .white {
            background-color: $white;

            h2, p, .sidebar ul li a {
                color: $rich-black;
            }

            .sidebar ul li:hover {
                background-color: $white;
            }
        }

        .yellow {
            background-color: $yellow-bright;

            h2, p, .sidebar ul li:before,
            .sidebar ul li {
                color: $rich-black;
            }

            .sidebar ul li:hover {
                background-color: $white;
            }
        }
    

        h2 {
            font-family: inherit; 
            font-size: 32px; 
            font-weight: 400; 
            line-height: 42px; 
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: $white;

            @media only screen and (max-width: 991px) {
                text-align: left;
            }
        }

        p {
            font-family: inherit; 
            font-size: 18px; 
            font-weight: 200; 
            line-height: 1.6; 
            letter-spacing: 0.04em;
            text-transform: inherit;
            color: $grey-light-section;
        }
        

        .sidebar {
            ul li {
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 10px;
                transition: 0.5s;

                &:nth-child(1) {
                    &:before {
                        content: "\f060";
                        font-size: 12px;
                        font-family: fontawesome;
                        color: $white;
                        padding-right: 17px;
                    }   
                }

                &:before {
                    content: "\f061";
                    font-size: 12px;
                    font-family: fontawesome;
                    color: $yellow-brand;
                    padding-right: 17px;
                    
                }

                &:active {
                    background-color: aqua;
                }

                &:hover {
                    background-color: $beige-light;
                    opacity: 1;

                    a {
                        text-decoration: none;
                        color: $rich-black;
                    }

                    &:before {
                        color: $rich-black;
                        margin-left: 15px;
                    }
                }

                a {
                    color:  $white;
                    font-size: 19px;
                }

            } 
        }

        .container {
            padding-top: 3em;
            padding-bottom: 2em;
        }

        .container-fluid {
            padding-left:3em !important;
            padding-right: 3em !important;

            .sidebar {
                display: flex;
                justify-content: center;
                padding-left: 1em;
                padding-right: 1em;
                max-width: 626px;
                margin: 0 auto;
                width: 100%;
            

                ul {
                    width: 500px;
                }
            }
        }

        .prism-content {

            iframe {
                @media only screen and (max-width: 400px) {
                    height: auto;
                }
                
            }
        }
    }

    section.page-banner  {
        display: none;
    }

    .resource-wrapper {

        .resource-container {

            .sidebar {
                padding: 20px;
    
                .resource-side-bar-links {
                    ul li {
                        margin-top: 20px;
                        margin-bottom: 20px;
                        padding: 10px;
                        transition: 0.5s;
    
                        &:before {
                            content: "\f061";
                            font-size: 12px;
                            font-family: fontawesome;
                            color: $yellow-brand;
                            padding-right: 17px;
                            
                        }
    
                        &:active {
                            background-color: aqua;
                        }
    
                        &:hover {
                            background-color: $beige-light;
                            opacity: 1;
    
                            a {
                                text-decoration: none;
                                color: $rich-black;
                            }
    
                            &:before {
                                color: $rich-black;
                                margin-left: 15px;
                            }
                        }
                        a {
                            color:  $white;
                            font-size: 19px;
                        }
    
                    } 
                }
            }

            .content {

                h2 {
                    font-family: inherit; 
                    font-size: 32px; 
                    font-weight: 400; 
                    line-height: 42px; 
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    color: $white;
                }
            }
        }

        padding:4em;

        &.black {
            background-color: $rich-black;
        }
        
    }

}

.page-template-template-resources-hub {

    .page-banner {

        height: 500px;

        &.hero {
            background-attachment: inherit;
        }

        .content-header {

            article {
                display: flex;
                flex-direction: column;
                justify-content: center;
                line-height: 1.5;
    
                .resource-title {
                    font-family: inherit;
                    font-weight: 400;
                    font-size: 32px;
                    text-align: center;
                    text-transform: uppercase;
                }
            }  

        }
        

    }


    .resource-hub-cont {

        background-color: $beige-light;

        #card-row {
            padding-bottom: 3em; 

            .card {
                background-color: $white;
                padding:0;
                max-width: 287px;
                margin-right: 43px;
                margin-bottom: 43px;
                width: 100%;
        
                .card-image-cont {
                    width: 100%;
                    height: 348px;
                }
        
                .card-body {
                    position: relative;
                    min-height: 80px;
                    height: 100%;
        
                    .card-title-cont {
                        padding-top: 1em;
                        padding-bottom: 2em;
                        height: 209px;
                        position: absolute;
                        bottom: 0;
                        width: 93%;
        
                        a.card-title {
                        font-family: inherit;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 1.5;
                        color: $rich-black;
                        text-decoration: none;
                        padding-bottom: 10px;
                            
                        }
                        
                        p {
                            padding-top: 12px;
                        }
        
                    }
        
                    .tags {
                        max-width: fit-content;
                        width: auto;
                        height: 24px;
                        top: 191px;
                        left: 16px;
                        padding: 0px 12px 0px 12px;
                        gap: 0px;
                        border-radius: 16px;
                        opacity: 1px;
                        background-color: $yellow-brand;
                        
                    }
                }
        
                .card-title-cont {
        
                    a.resources-btn {
                        color: $rich-black;
                        font-weight: 700;
                        font-size: 16px;
                        text-decoration: none;
                        position: absolute;
                        bottom: 15px;
                        width: 100%;
    
                        &:after {  
                            content: '\f054';
                            font-family: fontawesome; 
                            position: absolute;
                            right: 0;   
                
                        }
                    }
                }
            }
        

        }
        
        .category-list {
            padding-top: 2em;
            padding-bottom: 3em;
            
        }

        .category {
    
            ul {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                border-bottom: solid 2px #2323201A;
    
                li {
                    cursor: pointer;
                    margin-right: 30px;

                    &.active {
                        font-weight: bold;
                        text-decoration: underline;
                    }
                }
            }
        }
    
        
        .search-form {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            input {
                width: 320px;
                height: 48px;
                background-color: #f7f7ef;
                padding: 19px;
            }
        }   
        
    }

}