.single-resource {

    .resource-wrapper {
        background-color: $rich-black;
        padding-top: 5em;
        padding-bottom: 2em;

        .container {
            max-width: 1600px;
        }

        .resource-container {
            background-color: $rich-black;         
        }

        .sidebar {
            padding: 20px;

            .resource-side-bar-links {
                ul li {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    padding: 10px;
                    transition: 0.5s;

                    &:before {
                        content: "\f061";
                        font-size: 12px;
                        font-family: fontawesome;
                        color: $yellow-brand;
                        padding-right: 17px;
                        
                    }

                    &:active {
                        background-color: aqua;
                    }

                    &:hover {
                        background-color: $beige-light;
                        opacity: 1;

                        a {
                            text-decoration: none;
                            color: $rich-black;
                        }

                        &:before {
                            color: $rich-black;
                            margin-left: 15px;
                        }
                    }
                    a {
                        color:  $white;
                        font-size: 19px;
                    }

                } 
            }
        }

        .template-section.full.black {

            .container {

                max-width: 1600px;

                .info-blocks {
                    border-right: none;
                }
    

            }

            .container-fluid {
                max-width: 1265px;

                .info-blocks {
                    border-right: none;
                }
                
            }
        }
    }

    .template-section.dark-grey {
        background-color: $rich-black;
        padding-left: 50px;
        padding-right: 50px;
    }


    .page-banner.hero  {
        display: none
    }
        
    article.container {
        text-align: center;
    }

    .page-banner {
        height: 771px;
        background-attachment: initial;

        @media only screen and (max-width: 1400px) {
            height: 400px;
            
        }

        .content-header {

            article.container {

                .heading-title {
                    display: block;
                    line-height: 54.21px;   
                    font-size: 48px;
                    font-weight: 500;
                    padding-bottom: 0.4em;
                }

                .resource-title {
                    font-family: inherit; 
                    font-size: 32px;
                    font-weight: 400;
                    line-height: 36px;
                    letter-spacing: 0.04em;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
    }

    #sidebar {
        display: none;
    }

    .page-content {

        .template-section {

            .inner-content {
                text-align: center;

               .resource-content-title {
                font-family: inherit; 
                font-size: 32px; 
                font-weight: 400; 
                line-height: 42px; 
                letter-spacing: 0.04em;
                text-transform: uppercase;

                span {
                    padding-bottom: 2em;
                }
                
               }
            }
        }
    }
}

