.single-partner{

	.page-banner.hero {
	    background-attachment: initial!important;
	    color: #fff;
	    height: 400px!important;
	    width: 100%;
	    background-size: cover!important;
	    background-position: center center!important;
	}

	h1{
		display: none;
	}

	h2{
		text-transform: uppercase;
		text-align: center!important;
	}

	.partner-content{
		margin-bottom:50px;
	}
}

.page-template-template-partners{

	.partner-bg{
		background: #eeebd8;
		padding-bottom: 50px!important;
	}

	.partner-logos{
		max-width: 50%!important;

		img{
			max-width: 75%!important;
			margin-bottom:20px!important;

			@media only screen and (max-width: 767px) {
				max-width: 100%!important;
			}
		}
	}

	 h2 {
	    text-align: center!important;
	    text-transform: uppercase;
	}

	.partner-loop{
		.col-md-6{
			text-align: center;

			.single-partner-bg{
				margin:30px;
				position: relative;
				min-height:400px;
				background-size: cover;
			}

			img{
				position: absolute;
				top:25px;
				right:25px;
				max-width: 200px;
			}

			.left{
				img{
					left:25px;
				}
			}

			a{
				background: #fedb00;
			    padding: 10px 30px;
			    border: 1px solid #fedb00;
			    display: block;
			    max-width: 180px;
			    margin: 0px auto 20px auto;

			    &:hover{
			    	background:#ffec76;
			    	border: 1px solid #ffec76;
			    }
			}
		}
	}
}
